<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>♒</string>
			<key>name</key>
			<string>Aquarius</string>
			<key>startMonth</key>
			<string>1</string>
			<key>startDay</key>
			<string>20</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♓</string>
			<key>name</key>
			<string>Pisces</string>
			<key>startMonth</key>
			<string>2</string>
			<key>startDay</key>
			<string>19</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♈</string>
			<key>name</key>
			<string>Aries</string>
			<key>startMonth</key>
			<string>3</string>
			<key>startDay</key>
			<string>21</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♉</string>
			<key>name</key>
			<string>Taurus</string>
			<key>startMonth</key>
			<string>4</string>
			<key>startDay</key>
			<string>20</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♊</string>
			<key>name</key>
			<string>Gemini</string>
			<key>startMonth</key>
			<string>5</string>
			<key>startDay</key>
			<string>21</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♋</string>
			<key>name</key>
			<string>Cancer</string>
			<key>startMonth</key>
			<string>6</string>
			<key>startDay</key>
			<string>21</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♌</string>
			<key>name</key>
			<string>Leo</string>
			<key>startMonth</key>
			<string>7</string>
			<key>startDay</key>
			<string>23</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♍</string>
			<key>name</key>
			<string>Virgo</string>
			<key>startMonth</key>
			<string>8</string>
			<key>startDay</key>
			<string>23</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♎</string>
			<key>name</key>
			<string>Libra</string>
			<key>startMonth</key>
			<string>9</string>
			<key>startDay</key>
			<string>23</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♏</string>
			<key>name</key>
			<string>Scorpio</string>
			<key>startMonth</key>
			<string>10</string>
			<key>startDay</key>
			<string>23</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♐</string>
			<key>name</key>
			<string>Sagittarius</string>
			<key>startMonth</key>
			<string>11</string>
			<key>startDay</key>
			<string>22</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>♑</string>
			<key>name</key>
			<string>Capricorn</string>
			<key>startMonth</key>
			<string>12</string>
			<key>startDay</key>
			<string>22</string>
		</dict>
	</array>
</dict>
</plist>
