<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>property</key>
		<string>last_name</string>
		<key>title</key>
		<string>Last Name</string>
		<key>viewController</key>
		<string>NameViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>gender</string>
		<key>title</key>
		<string>Gender</string>
		<key>viewController</key>
		<string>CategorizedUserTableViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>birthday</string>
		<key>title</key>
		<string>Birthday</string>
		<key>viewController</key>
		<string>BirthdayViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>hometown</string>
		<key>title</key>
		<string>Hometown</string>
		<key>viewController</key>
		<string>HometownViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>location</string>
		<key>title</key>
		<string>Current Location</string>
		<key>viewController</key>
		<string>UserLocationViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>work</string>
		<key>title</key>
		<string>Work</string>
		<key>viewController</key>
		<string></string>
	</dict>
	<dict>
		<key>property</key>
		<string>education</string>
		<key>title</key>
		<string>Education</string>
		<key>viewController</key>
		<string>EducationViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>relationship_status</string>
		<key>title</key>
		<string>Relationship Status</string>
		<key>viewController</key>
		<string>CategorizedUserTableViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>locale</string>
		<key>title</key>
		<string>Locale</string>
		<key>viewController</key>
		<string>CategorizedUserTableViewController</string>
	</dict>
	<dict>
		<key>property</key>
		<string>updated_time</string>
		<key>title</key>
		<string>Last Updated Time</string>
		<key>viewController</key>
		<string>LastUpdateViewController</string>
	</dict>
</array>
</plist>
