<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>6309ab</string>
	<string>e3a0e9</string>
	<string>5966f5</string>
	<string>32bdf4</string>
	<string>008d35</string>
	<string>59da9d</string>
	<string>f38621</string>
	<string>f7ca65</string>
</array>
</plist>
