<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7E07A9</string>
	<string>D50065</string>
	<string>8EEB00</string>
	<string>ECFC00</string>
	<string>FFA473</string>
	<string>FFC873</string>
	<string>689AD3</string>
	<string>5FD4B1</string>
</array>
</plist>
