<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<string>name</string>
		<array>
			<string>gender</string>
			<string>birthday</string>
			<string>relationship_status</string>
			<string>hometown</string>
			<string>location</string>
			<string>updated_time</string>
			<string>locale</string>
		</array>
		<string>works</string>
		<string>educations</string>
	</array>
</dict>
</plist>
